body {
  margin: 20px 40px;

}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: rgb(4, 0, 255);
}

/* TODO: Add CSS for the rest of your solution below */

.redBlock1 {
  width: 80px;
  background-color: red;
}

.blueBlock1{
  width: 80px;
  background-color: rgb(0, 47, 255);
  margin-left: auto;
}

.redBlock2{
  flex: 1;
  background-color: red;

}

.blueBlock2{
  width: 80px;
  background-color: rgb(0, 47, 255);
  margin-left: auto;
}

.redBlock3{
  background-color: red;
  width: 40px;
  height: 40px;
  margin: auto;
}

.redBlock4{
  flex: 1;
  background-color: red;
  display: flex;
  align-items: center;
}
.blueBlock3{
  width: 80px;
  height: 60px;
  background-color: rgb(0, 47, 255);
  margin: auto;
  
}

.redBlock5{
  width: 80px;
  background-color: red;
  
}

.blueBlock4{
  width: 100%;
  background-color: blue;
  height: 20px;
  box-shadow: 0 40px 0 0 blue;
}
.wrapper1{
  justify-content: space-between;
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  gap: 20px;
}
.yellowBox{
  background-color: rgb(255, 174, 0);
  width: 80px;
  justify-content: space-around;
}

.yellowBox1{
  background-color: rgb(255, 174, 0);
  width: 400px;
  justify-content: space-between;
}